<div>
    {% if include.lecture.slides %}
    [<a title="Slides (html)" href="
    {% if include.lecture.slides contains '://' %}
      {{ include.lecture.slides }}
    {% else %}
      {{ include.lecture.slides | prepend: site.baseurl }}
    {% endif %}">slides</a>]
    {% endif %}
    {% if include.lecture.exercise %}
    [<a title="Exercise (html)" href="
    {% if include.lecture.exercise contains '://' %}
      {{ include.lecture.exercise }}
    {% else %}
      {{ include.lecture.exercise | prepend: site.baseurl }}
    {% endif %}">exercise</a>]
    {% endif %}
<!--    {% if include.lecture.notes %}
    [<a title="Download notes (zip)" href="
    {% if include.lecture.notes contains '://' %}
      {{ include.lecture.notes }}
    {% else %}
      {{ include.lecture.notes | prepend: site.baseurl }}
    {% endif %}">notes</a>]
    {% endif %}
    {% if include.lecture.codes %}
    [<a title="Download codes (zip)" href="
    {% if include.lecture.codes contains '://' %}
      {{ include.lecture.codes }}
    {% else %}
      {{ include.lecture.codes | prepend: site.baseurl }}
    {% endif %}">codes</a>]
    {% endif %} -->
</div>
