<div>
    {% if include.lecture.slides_html %}
    [<a title="Slides (html)" href="
    {% if include.lecture.slides_html contains '://' %}
      {{ include.lecture.slides_html }}
    {% else %}
      {{ include.lecture.slides_html | prepend: site.baseurl }}
    {% endif %}">slides (html)</a>]
    {% endif %}
    {% if include.lecture.slides_pdf %}
    [<a title="Slides (pdf)" href="
    {% if include.lecture.slides_pdf contains '://' %}
      {{ include.lecture.slides_pdf }}
    {% else %}
      {{ include.lecture.slides_pdf | prepend: site.baseurl }}
    {% endif %}">slides (pdf)</a>]
    {% endif %}
    {% if include.lecture.exercise_html %}
    [<a title="Exercise (html)" href="
    {% if include.lecture.exercise_html contains '://' %}
      {{ include.lecture.exercise_html }}
    {% else %}
      {{ include.lecture.exercise_html | prepend: site.baseurl }}
    {% endif %}">exercise (html)</a>]
    {% endif %}
    {% if include.lecture.exercise_pdf %}
    [<a title="Exercise (pdf)" href="
    {% if include.lecture.exercise_pdf contains '://' %}
      {{ include.lecture.exercise_pdf }}
    {% else %}
      {{ include.lecture.exercise_pdf | prepend: site.baseurl }}
    {% endif %}">exercise (pdf)</a>]
    {% endif %}
<!--    {% if include.lecture.notes %}
    [<a title="Download notes (zip)" href="
    {% if include.lecture.notes contains '://' %}
      {{ include.lecture.notes }}
    {% else %}
      {{ include.lecture.notes | prepend: site.baseurl }}
    {% endif %}">notes</a>]
    {% endif %}
    {% if include.lecture.codes %}
    [<a title="Download codes (zip)" href="
    {% if include.lecture.codes contains '://' %}
      {{ include.lecture.codes }}
    {% else %}
      {{ include.lecture.codes | prepend: site.baseurl }}
    {% endif %}">codes</a>]
    {% endif %} -->
</div>
