<ul class="menu">
    <li><a class="page-link" href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-home fa-lg"></i> About</a></li>
    <li><a class="page-link" href="{{ "/schedule/" | prepend: site.baseurl }}"><i class="fas fa-calendar-alt"></i> Schedule</a></li>
<!--    <li><a class="page-link" href="{{ "/lectures/" | prepend: site.baseurl }}"><i class="fas fa-book-reader"></i> Lectures</a></li> -->
    <li><a class="page-link" href="{{ "/assignments/" | prepend: site.baseurl }}"><i class="fas fa-tasks"></i> Assignments</a></li>
    <li><a class="page-link" href="{{ "/grading/" | prepend: site.baseurl }}"><i class="fas fa-percentage"></i> Grading</a></li>
    <li><a class="page-link" href="{{ "/other/" | prepend: site.baseurl }}"><i class="fas fa-wheelchair"></i> Other</a></li>
    <li><a class="page-link" href="{{ "/contact/" | prepend: site.baseurl }}"><i class="fas fa-id-card"></i> Contact</a></li>
</ul>
